/* AutoSlideCarousel.css */

/* Default styling for carousel images */
.carousel-container .carousel-item img {
  height: 300px;
  object-fit: cover; /* Optional: maintain aspect ratio and cover the container */
}

/* Responsive adjustments for smaller screens */
@media only screen and (max-width: 767px) {
  .carousel-container .carousel-item img {
    height: 200px; /* Adjust the height for smaller screens */
  }
}

/* Responsive adjustments for medium screens */
@media only screen and (min-width: 768px) and (max-width: 1199px) {
  .carousel-container .carousel-item img {
    height: 250px; /* Adjust the height for medium-sized screens */
  }
}

/* Responsive adjustments for larger screens */
@media only screen and (min-width: 1200px) {
  .carousel-container .carousel-item img {
    height: 350px; /* Adjust the height for larger screens */
  }
}
