/* Footer.css */

/* Style for the footer */
footer {
    background-image: url('https://wallpapers.com/images/hd/dark-mountain-4k-3vxidfa2y5t5uk4m.jpg');
    background-size: cover;
    background-position: center;
    color: #fff;
    padding: 20px 0;
  }
  
  /* Style for the social icons */
  .social-icons a {
    color: #000; /* Icon color */
    margin-right: 15px; /* Adjust the space between icons */
    font-size: 24px; /* Adjust the icon size */
  }
  
  /* Style for the social icon links on hover */
  .social-icons a:hover {
    color: #ffcc00; /* Change color on hover */
  }
  
  /* Style for the contact information */
  h4 {
    font-size: 1.5rem;
  }
  
  p {
    font-size: 1rem;
    margin-bottom: 10px;
  }
  
  a {
    color: #000; /* Link color */
  }
  
  a:hover {
    color: #ffcc00; /* Change link color on hover */
  }
  