.navbar-custom {
  background-image: url('https://w0.peakpx.com/wallpaper/849/62/HD-wallpaper-firewatch-sunrise-minimal.jpg');
  background-size: cover;
  background-position: center;
}


.my-img img {
  border-radius: 50%;
}


.navbar-custom .navbar-brand {
  color: #fff;
}

.navbar-custom .nav-link {
  color: #fff;
}

.navbar-custom .nav-link:hover {
  color: #ffcc00;
}

/
@media only screen and (max-width: 767px) {
  .navbar-custom {
    background-size: cover; 
  }

  .navbar-custom .navbar-brand,
  .navbar-custom .nav-link {
    color: #000; 
  }

  .navbar-custom .nav-link:hover {
    color: #ffcc00; 
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .navbar-custom {
    background-size: contain; 
  }
}
