/* Welcome.css */

.container-welcome {
  text-align: center;
  margin: 20px; /* Adjust the margin as per your preference */
}

.card,
.card1,
.card2 {
  background-color: rgba(255, 255, 255, 0.3); /* Transparent white background */
  border: 1px solid #ddd; /* Optional: Add border for better visibility */
  border-radius: 8px;
  padding: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: Add box shadow for depth */
  transition: background-color 0.3s ease; /* Optional: Add transition for hover effect */
  margin-bottom: 20px; /* Add space between the cards */
  border: 1px solid #ccc; /* Optional: Add a border for better visual separation */
}

.card1{
  margin-right: 400px;
}

.card2{
  margin-left: 400px;
}

.card:hover {
  background-color: rgba(255, 255, 255, 0.5); /* Change background color on hover */
}

.card-content {
  color: #fff; /* Set text color to white */
}


.heading,
.sub-heading {
  background-image: url('https://tse1.mm.bing.net/th?id=OIP.KYYQxk2JjTvZ31nt16hXpQHaEo&pid=Api&P=0&h=180');
  background-size: cover;
  background-position: center;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
  border: 1px solid #ccc;
  color: #fff;
  font-weight: bold;

  margin: auto; /* Center the card horizontally */
  text-align: center; /* Center the text within the card */
  margin-bottom: 40px; /* Add space between the cards */
}

.heading:hover,
.sub-heading:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

/* If you want to set a specific height for the heading and sub-heading, you can add the following */
.heading,
.sub-heading {

  display: flex;
  justify-content: center;
  align-items: center;
}

.heading{
  height: 200px;
  width: 400px;
  font-size: 35px;
}

.sub-heading{
  height: 150px;
  width: 350px;
  font-size: 25px;
}
